# Sirlar
.env

# Ham ve islenmis veri (GitHub'a 700 MB CSV yuklenmez)
data/raw/
data/processed/
data/interim/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# MLflow / model ciktilari
mlruns/
mlartifacts/
models/*.pkl
models/*.joblib

# IDE / OS
.vscode/
.idea/
Thumbs.db
desktop.ini
